extends ../../layouts/default.pug 

block main 
  .container.my-3 
    .row 
      .col-12 
        if(product.title)
          h1(class="mb-4")  #{product.title} 
  
        if(product.price)
          div(class="mb-4") gia: <b>#{product.price}$ <b>
        if(product.stock)
          div(class="mb-4") so luong: <b> #{product.stock} <b>
        if(product.thumbnail) 
          div(class="mb-4")
            img(
              src=product.thumbnail
              style="width: 100px"
            )
            